{% load static %}
<footer class="footer " role="contentinfo" aria-label="content info">
    <div class="dist-even social">
        <p>
            For Educational purposes only &copy; 2020
        </p>
        <p class="has-text-centered">

            <a href="https://github.com/maliahavlicek/ci_hackathon_july_2020" target="_blank" rel="noreferrer"
               data-track="github,{{ page }},link_foot"
               aria-label="Go to github's code source for this website."><i class="fab fa-lg fa-github"></i></a>
        </p>
    </div>
</footer>