{% load static %}
<nav class="navbar navbar-expand-lg mr-auto">
  <span class="navbar-item nav-image">
    <a href="{% url 'index' %}">
      <img src="{% static 'logo.svg' %}" alt="Logo for App">
    </a>
  </span>
    <a class="navbar-brand" id="logo-text" href="{% url 'index' %}">Family Wall</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <img src="{% static 'burger-icon.svg' %}" alt="Logo for App" width="32" height="32">
    </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 justify-content-end">
            {% if user.is_authenticated %}

                <li>
                    <a class="dropdown-item nav-link" id="logout" href="{% url 'logout' %}"><i
                            class="fa fa-sign-out"></i>Logout</a>
                </li>
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'default_wall' %}"><i class="fa fa-sign-out"></i>Wall</a>
                </li>
                <a class="dropdown-item nav-link" href="{% url 'userprofile' %}"><i class="fas fa-user"></i>Profile</a>
                <li>
                    <a class="dropdown-item nav-link" href="{% url 'create_family' %}"><i class="fa fa-sign-out"></i>Create
                        Family</a>
                </li>

            {% else %}
                <li class="nav-item"><a class="dropdown-item nav-link" id="login" href="{% url 'login' %}"><i
                        class="fa fa-sign-in"></i>Login</a>
                </li>
                <li class="nav-item"><a class="dropdown-item nav-link" id="register" href="{% url 'registration' %}"><i
                        class="fa fa-user-plus"></i>Register</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>
