.profile_pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* hide show status based on 24s freshness */
.status.inactive .active {
    display: none;
}

.status.active .inactive {
    display: none;
}

#family-wall-h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

.hero-family-image {
    box-shadow: var(--box-shadow);
    border-radius: var(--box-radius);
    margin: 2% auto;
    max-width: 200px;
}