.profile_pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* hide show status based on 24s freshness */
.status.inactive .active {
    display: none;
}

.status.active .inactive {
    display: none;
}

#family-wall-h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 25px;

}

.hero_container {
    height: 150px;
    width: 100%;
    overflow: hidden;
    margin: 2% auto;
    max-height: 150px;
    display: block;
    position: relative;
}

.hero-family-image {
    box-shadow: var(--box-shadow);
    border-radius: var(--box-radius);
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

h4 {
    text-transform: uppercase;
    font-size: 20px;
}

.label-title {
    text-transform: uppercase;
}

.card-header.status {
    background: var(--color-main-gradient);
    padding: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    text-align: left;
}

.card-header.status button {
    background: inherit;
    border: none;
    margin: 0;
    color: var(--color-secondary-supporting-purple);
    box-shadow: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    padding: .75rem 1.25rem;
}

.card-header.status button:hover {
    background: var(--color-secondary-purple);
    color: var(--color-secondary-supporting-purple);
}

#id_mood input[type=radio] {
    display: none;
}

#id_mood input[type=radio] + label, div.mood-image {
    height: 35px;
    width: 35px;
    background-image: url(/static/assets/images/emojis/emoji-amazing.svg);
    display: inline-block;
    padding: 0;
    cursor: pointer;
    color: #3F96DA;
    margin: 7px;
    background-size: 35px 35px;
}


#id_mood input[type=radio].amazing + label, div.mood-image.level-1 {
    background-image: url(/static/assets/images/emojis/emoji-amazing.svg);
}

#id_mood input[type=radio].happy + label, div.mood-image.level-2 {
    background-image: url(/static/assets/images/emojis/emoji-happy.svg);
}

#id_mood input[type=radio].good + label, div.mood-image.level-3 {
    background-image: url(/static/assets/images/emojis/emoji-good.svg);
}

#id_mood input[type=radio].sad + label, div.mood-image.level-4 {
    background-image: url(/static/assets/images/emojis/emoji-sad.svg);
}

#id_mood input[type=radio].terrible + label, div.mood-image.level-5 {
    background-image: url(/static/assets/images/emojis/emoji-terrible.svg);
}

#id_mood input[type="radio"]:checked + label {
    -webkit-box-shadow: 10px 10px 10px 0 rgba(159, 63, 218, 1);
    -moz-box-shadow: 10px 10px 10px 0 rgba(159, 63, 218, 1);
    box-shadow: 10px 10px 10px 0 rgba(159, 63, 218, 1);
}

#id_mood input[type="radio"]:hover + label {
    -webkit-box-shadow: 10px 10px 10px 0 rgba(63, 150, 218, 1);
    -moz-box-shadow: 10px 10px 10px 0 rgba(63, 150, 218, 1);
    box-shadow: 10px 10px 10px 0 rgba(63, 150, 218, 1);
    transform: rotate(-3deg) scale(1.3);
    -webkit-animation: 0;
}

.status-label {
    color: var(--color-secondary-purple);
    font-weight: 700;
}

.member-status-header {
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);
    text-align: center;
}

.member-status.row {
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);
}

.member-status.row:last-of-type {
    border-bottom: none;
}


/* TABLET STYLES */
@media screen and (min-width: 768px) {
    #id_mood input[type=radio] + label, div.mood-image {
        height: 40px;
        width: 40px;
        margin: 10px;
        background-size: 40px 40px;
    }
}