{% extends 'base.html' %}
{% load static %}
{% block page_heading %}
    <div class="center">
        Home Page
    </div>
{% endblock %}
{% block main_content %}
    <h1>Welcome To our App</h1>
    <p>There will be daily digests of auto prompts, the ability to post images, write comments and add emotion icons to posts</p>
    <p>We hope to have a dashboard that summarizes the family/group daily digest so you can quickly spot check on your members</p>
    <p>We hope to have a recent post view so you can see the latest news from the group</p>

{% endblock %}