{% extends 'base.html' %}
{% load static %}
{% block page_heading %}
    <div class="center">
        Welcome To our App
    </div>
{% endblock %}
{% block main_content %}
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <img class="w-100" src="{% static 'assets/images/home_hero_image.png' %}" alt=" hero image">
            </div>
            <div class="col-md-6 col-sm-12">
                <p>Family Wall is dedicated to connecting families without the distraction of flashy ads and games. You
                    choose who you want in your family and see only their posts.</p>
                <p>You can organize your close friends into different walls and easily switch from one interest group to
                    another.</p>
                <p>No matter which wall you are on, you'll always be able to share your status report to the people you
                    care about the most and easily let others know your plans and if you need help with something.</p>
                <p>Our goal is to keep the focus on the family and streamline the ability to share images and messages
                    in a safe and private forum.</p>
            </div>
        </div>
        {% if not request.user.is_authenticated %}
            <div class="row m-1 mb-5 mt-5">
                <div class="col-6">
                    <a href="{% url 'default_wall' %}">
                        <button class="btn btn-primary"><i class="fas fa-user-plus"></i> Join the Family</button>
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <h2>Family Status</h2>
                <p>You can let everyone know what you are up to for the day.</p>
                <p>And quickly see what those you care about the most are planning to do.</p>
            </div>
            <div class="col-md-9 d-none-sm d-block-md">
                <img class="w-100" src="{% static 'assets/images/app_desktop.png' %}" alt=" desktop image">
            </div>
            <div class="col-md-3 col-xs-12">
                <img class="w-100" src="{% static 'assets/images/app_mobile.png' %}" alt=" mobile image">
            </div>
        </div>
    </div>


{% endblock %}