/.venv/
/.idea/
.DS_store
.coverage
/staticfiles/admin/

# Exclude Django created local def folders
*.sqlite3
*.pyc
__pycache__


# Exclude VScode created def folders
.vscode
.theia
env.py
env

# Exclude media folder
media
