/.venv/
/.idea/
.DS_store
.coverage
/staticfiles/admin/

# Exclude Django created local def folders
*/migrations/*
*.sqlite3
*.pyc
__pycache__
__init__.py

# Exclude VScode created def folders
.vscode
env.py
env

# Exclude media folder
media
