{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}
    Password Reset Page
{% endblock %}
{% block page_heading %}
    Reset Password
{% endblock %}
{% block main_content %}

    <p>Forgot your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">
    {% csrf_token %}
    {{ form.email.errors }}
    <p>
        <label for="id_email">Email Address:</label>
        {{ form.email }}
        <button class="btn btn-default">Send Email</button>
    </p>
    </form>
 {% endblock %}