{% extends "base.html" %}
{% block page_title %}
    {# Put page specific HTML Title Here #}
    Update Image
{% endblock %}
{% block head_css %}
    {# Put page specific CSS style links here. Ok to be empty. #}
{% endblock %}
{% block head_js %}
    {# Put page specific javascript tags here. Ok to be empty. #}
{% endblock %}
{% block page_heading %}
    {# Put page specific javascript tags here. Ok to be empty. #}
    Update Image
{% endblock %}
{% block main_content %}
    {# Put main content here. SHOULD NOT BE EMPTY. #}
{% endblock %}