{% extends "base.html" %}
{% load static tz bootstrap_tags crispy_forms_tags %}
{% block page_title %}
    {# Put page specific HTML Title Here #}
    Create Family
{% endblock %}
{% block head_css %}
    {# Put page specific CSS style links here. Ok to be empty. #}
{% endblock %}
{% block head_js %}
    {# Put page specific javascript tags here. Ok to be empty. #}
{% endblock %}
{% block page_heading %}
    {# Put page specific javascript tags here. Ok to be empty. #}
    Create Family
{% endblock %}
{% block main_content %}
    {# Put main content here. SHOULD NOT BE EMPTY. #}
    {% localtime on %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form |as_bootstrap }}

            <div class="form-group col-md-12 mb-0 p-0">
                <label>Members</label>
                <div id="member_list">

                </div>
            </div>

            <div class="form-group col-md-12 mb-0">
                <div class="form-group">
                    <div class="" id="member_list_errors">
                        <span id="error_member_list"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group member-entry col-9 mb-0">
                    <div class="form-group">
                        <div class="">
                            <input class="form-control" id="email" type="email" aria-label="email" placeholder="Email"/>
                            <span id="error_email"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group member-entry col-3 mb-0">
                    <div class="form-group">
                        <div class><a onclick="add_member();" id="add_member" class="form-control btn btn-primary"><i
                                class="fas fa-user-plus"></i> Member</a></div>
                    </div>
                </div>
            </div>
            <button class="btn btn-default">CREATE FAMILY</button>
        </form>
    {% endlocaltime %}

{% endblock %}