{% extends "base.html" %}
{% load static tz bootstrap_tags crispy_forms_tags filters %}
{% block page_title %}
    {# Put page specific HTML Title Here #}
    Update Family
{% endblock %}
{% block head_css %}
    {# Put page specific CSS style links here. Ok to be empty. #}
    <link rel="stylesheet" href="{% static 'css/members.css' %}" type="text/css">
{% endblock %}
{% block head_js %}
    {# Put page specific javascript tags here. Ok to be empty. #}
{% endblock %}
{% block page_heading %}
    {# Put page specific javascript tags here. Ok to be empty. #}
    Update Family
{% endblock %}
{% block main_content %}
    {# Put main content here. SHOULD NOT BE EMPTY. #}
    {% localtime on %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="member-row" class="row member-row">
                {# allow user to leave family  #}
                <div class="col-12 mb-1">
                    <label for="leave">If this family isn't your thing, feel free to leave at any time.</label>
                    <input type="hidden" id="id_user" value="{{ request.user.email }}"/>
                    <button name="leave" id="leave" class="btn btn-default"><i class="fas fa-user-slash"></i> Leave
                        Family
                    </button>
                </div>
            </div>
            {{ form |as_bootstrap }}
            {# restrict number of family members to 50 to prevent bots killing site #}
            <input type="hidden" id="max_members" value="{{ family.get_members|length|fifty_minus }}">
            <input type="hidden" id="update" value="true">
            <div class="form-group row">
                <div class="form-group col-md-2 col-sm-12">
                    <label for="current_hero_image">Existing Image</label>
                    <img id="current_hero_image" src="{{ family.hero_image.url }}" alt="Existing Hero Image"
                         class="img-thumbnail">
                </div>
            </div>

            <div class="form-group col-md-12 mb-0 p-0">
                <label>Members</label>
                <div id="existing_members">
                    {% for member in family.get_members %}
                        {% if member != request.user %}
                            <div id="member-row" class="row member-row">
                                <div class="col-9">
                                    <div id="default_member" class="member">{{ member.email }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {# placeholder for user adding family members #}
                <div id="member_list">
                    {# javascript will automatically fill this in as user interacts with form #}
                </div>
            </div>

            <div class="form-group col-md-12 mb-0">
                <div class="form-group">
                    <div class="" id="member_list_errors">
                        <span id="error_member_list"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group member-entry col-9 mb-0">
                    <div class="form-group">
                        <div class="">
                            <input class="form-control" id="email" type="email" aria-label="email" placeholder="Email"/>
                            <span id="error_email"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group member-entry col-3 mb-0 p-0 pr-2">
                    <div class="form-group">
                        <div class><a onclick="add_member();" id="add_member" class="form-control btn btn-primary"><i
                                class="fas fa-user-plus"></i> Add</a></div>
                    </div>
                </div>
            </div>
            <button class="btn btn-default">UPDATE FAMILY</button>
        </form>
    {% endlocaltime %}
    <script type="text/javascript" src="{% static 'js/members.js' %}"></script>
{% endblock %}