{% load crispy_forms_tags %}
<form class="form-wrap" role="form" id="update_status">
    {% csrf_token %}
    <div class="p-2 current-status row">

        <div class="col-10">
            <div class="form-group" id="mood">
                <div class="field-error" id="id_mood_error"></div>
                <label for="id_mood" class="label">I'm Feeling</label>
                <div>
                    {% for choice in mood_choices %}
                        <label for="id_mood_{{ choice.0 }}">{{ choice.1 }}</label>
                        <input type="radio" name="mood" class="mood level-{{ choice.0 }}" id="id_mood_{{ choice.0 }}"
                               value="{{ choice.0 }} {% if request.user.status.mood == choice.0 %} selected {% endif %}">
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group" id="plans">
                <div class="field-error" id="id_plans_error"></div>
                <label for="id_plans" class="label">Today I Plan To Do</label>
                <textarea name="plans" cols="30" rows="2" class="form-control textarea" required=""
                          id="id_plans" spellcheck="false">{{ request.user.status.plans|default:"Nothing" }}</textarea>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group" id="help">
                <div class="field-error" id="id_plans_error"></div>
                <label for="id_help" class="label">I Need Help With</label>
                <textarea name="plans" cols="30" rows="2" class="form-control textarea" required=""
                          id="id_help" spellcheck="false">{{ request.user.status.help|default:"Nothing" }}</textarea>
            </div>
        </div>
        <input type="hidden" id="id_user" value="{{ user.pk }}">
        <input type="hidden" id="id_family" value="{{ family.pk }}">
        <button class="btn btn-default">Update</button>
    </div>
</form>