{# Password reset email sent complete #}
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}
    Password Reset Sent
{% endblock %}
{% block page_heading %}
    Password Reset Sent
{% endblock %}
{% block main_content %}
    <p>If an account exists with the email you entered, then we've emailed you a link for resetting your password.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
{% endblock %}