{# Send password reset link entry form #}
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}
    Password Reset Page
{% endblock %}
{% block page_heading %}
    Password Reset
{% endblock %}
{% block main_content %}
    <div class="half-input">
        <p>Forgot your password? Now worries, enter the email address you registered with below, and we'll send instructions for setting a new password as fast as possible.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.email.errors }}
            {{ form |as_bootstrap}}
            <button class="btn btn-default">Send Email</button>
        </form>
    </div>
{% endblock %}