{# New Password entry form #}
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}
    Enter New Password
{% endblock %}
{% block page_heading %}
    Enter New Password
{% endblock %}
{% block main_content %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="post">

        {% csrf_token %}
        {{ form|as_bootstrap }}
        <button type="submit" class="btn btn-default">Update Password</button>

    </form>
{% endblock %}